<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="fw_led.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <fw_led.Settings>
            <setting name="interval" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="idle_threshold" serializeAs="String">
                <value>0.01</value>
            </setting>
            <setting name="idle_color" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="threshold1" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="threshold1_color" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="threshold2" serializeAs="String">
                <value>500</value>
            </setting>
            <setting name="threshold2_color" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="max_color" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="min_to_tray" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="min_startup" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="standby_disable" serializeAs="String">
                <value>True</value>
            </setting>
        </fw_led.Settings>
    </userSettings>
</configuration>